fastapi==0.110.0
uvicorn[standard]==0.29.0

# PDF reading alternative (pure Python, no C++ compile)
pypdf==4.1.0   

sentence-transformers==2.2.2
faiss-cpu==1.7.4
numpy==1.26.4
openai==1.14.2
streamlit==1.31.0
requests==2.31.0
python-multipart==0.0.6
